form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

label {
    display: block;
    margin: 10px auto 2px auto;
    font-size: 16px;
    color: rgba(246, 223, 206, 1);
}

.form-input {
    margin: 0 2%;
    width: 96%;
}

input,
textarea {
    width: 98%;
    background-color: rgba(191, 200, 192, 1);
    border: none;
    border-radius: 2px;
    padding: 3px;
    color: rgba(24, 24, 24, 1);
}

textarea {
    resize: none;
}

input:focus,
input:enabled,
textarea:focus,
textarea:enabled {
    outline: none;
    border: 1px solid rgba(216, 88, 60, 1);
    background-color: rgba(191, 200, 192, 1);
    color: rgba(191, 200, 192, 1);
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus {
  border: 1px solid rgba(216, 88, 60, 1);
  -webkit-text-fill-color: rgba(24, 24, 24, 1);
  -webkit-box-shadow: 0 0 0px 1000px rgba(191, 200, 192, 1) inset;
  transition: background-color 5000s ease-in-out 0s;
}

.form-stuff {
    margin: 0 2% 10px 2%;
    width: 96%;
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

button {
    border: none;
    border-radius: 2px;
    padding: 5px 10px;
    margin-top: 2px;
    background-color: rgba(229, 175, 126, 0.8);
    color: rgba(24, 24, 24, 1);
    font-size: 15px;
}

button:hover {
    background-color: rgba(229, 175, 126, 1);
}

.error-message {
    margin: 0;
    color: rgba(255, 118, 134, 1);
}
