header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    min-height: 15vh;
    overflow: hidden;
    top: 0;
    background: linear-gradient(
        to left bottom,
        rgba(36, 167, 158, 1),
        rgba(92, 172, 156, 1)
    );
}

.my-name {
    font-size: 20px;
    font-weight: 700;
    margin: 20px;
}

@media screen and (max-width: 700px) {

    header {
        justify-content: center;
    }

    header div {
        text-align: center;
    }

    .my-name {
        font-size: 19px;
    }
}
