.proficiency-container {
    width: 90vw;
}

.bar {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
    margin-bottom: 20px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.bar-fill {
    background: linear-gradient(
        to right top,
        rgba(134, 59, 76, 0.9),
        rgba(224, 95, 63, 0.8)
    );
}

.hundred { width: 100%; }
.ninety-five { width: 95%; }
.ninety { width: 90%; }
.eighty-five { width: 85%; }
.eighty { width: 80%; }
.seventy-five { width: 75%; }
.seventy { width: 70%; }

.tag {
    margin-left: 10px;
    font-size: 15px;
}

.percentage {
    width: 5%;
    font-size: 11px;
    margin-right: 8px;
    color: rgb(46, 45, 45);
}

.resume-link {
    font-weight: 700;
    font-size: 15px;
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.resume-icon {
    margin-left: 5px;
    width: auto;
    height: 20px;
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.7),
        rgba(255, 255, 255, 0.3)
    );
}

.resume-icon:hover {
    background: linear-gradient(
        to right bottom,
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 0.5)
    );
}

@media screen and (max-width: 350px) {

    .bar {
        position: relative;
    }

    .percentage {
        position: absolute;
        color: rgba(246, 223, 206, 1);
        left: 50%;
    }
}
