* {
  color: rgba(230, 211, 197, 1);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  font-size: 15px;
  text-decoration: none;
  color: black;
}

main {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(
    to left bottom,
    rgba(123, 169, 178, 1),
    rgba(3, 54, 92, 1)
  );
}


header,
footer {
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
}

footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 45px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 1),
    rgba(6, 146, 111, 1)
  );
}

.logo {
  margin: 0 20px;
  width: 32px;
  height: 32px;
}

