body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100vh;
  overflow-y: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  font-size: 15px;
  text-decoration: none;
  color: black;
}

.logo {
  width: 32px;
  height: 32px;
}

main {
  position: relative;
  min-height: 100vh;
  /* padding-bottom: 40px; */
  margin-bottom: 40px;
}


header,
footer {
  position: -webkit-sticky;
  position: sticky;
  z-index: 100;
}

footer {
  bottom: 0;
  height: 40px;
  background: linear-gradient(
    to right bottom,
    rgba(255, 255, 255, 1),
    rgba(6, 146, 111, 1)
  );
}